<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<form action="/member/save" method="post">
  이메일: <input type="text" name="memberEmail" id="memberEmail" onkeyup="emailCheck()"> <br>
    <span id="check-result"></span> <br>
  비밀번호: <input type="password" name="memberPassword"> <br>
  이름: <input type="text" name="memberName"> <br>
  <input type="submit" value="회원가입">
</form>
</body>
<script th:inline="javascript">
    const emailCheck = () => {
        const email = $('#memberEmail').val();
        const checkResult = $('#check-result');

        $.ajax({
            type: "post",
            url: "/member/email-check",
            data: {
                "memberEmail": email
            },
            success: function (res) {
                if (res == true) {
                    checkResult.html("사용 가능한 이메일입니다.");
                    checkResult.css("color", "green");
                } else {
                    checkResult.html("이미 사용중인 이메일입니다.");
                    checkResult.css("color", "red");
                }
            },
            error: function (err) {
                console.log("에러 발생", err);
            }
        });
    }
</script>
</html>